html, body {
    height: 100%;
}

body {
    margin: 0;
}

#nav-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#vivi-link {
    margin: 70px;
}

#vivi-link img {
    width: 112.8%;
    height: auto;
}

#lilly-link {
    margin: 70px;
}
